---
export interface Props {
  title: string;
  image: string;
  imageAlt: string;
  description: string;
  date: string;
}

const { title, image, imageAlt, description, date } = Astro.props;

import PrimaryDescription from '../components/PrimaryDescription.astro'
---

<section class="hero">
    <div class="grid max-w-screen-xl items-center px-4 py-8 mx-auto grid-cols-12">
        <div class="mr-0 lg:mt-0 col-span-6 place-self-center">
            <img src={image} alt={imageAlt} class="rounded-lg">
        </div>                
        <div class="ml-5 col-span-6 pr-10">
            <h2 class="text-3xl md:text-5xl hero-title">{title}</h2>
        </div>
    </div>
    <div class="mt-10">
      <PrimaryDescription description={description}/> 
      <p class="col-span-12 text-center mb-10">{date}</p>
    </div>
</section>

<style>
  .hero {
  }
  .hero-title {
    color: --yoru;
  }

  p {
    font-size: 0.75rem; 
    color: --iwa;
  }
</style>
